.el-dropdown-menu__item {
    font-size: 12px !important;
    line-height: 28px !important;
}

.el-card.is-always-shadow {
    box-shadow: none;
    border: none !important;
}

.el-scrollbar__view {
    height: 100%;
}

.el-menu--horizontal {
    border-bottom: none !important;
}

.el-menu {
    border-right: none !important;
}

.el-menu--display,
.el-menu--display+.el-submenu__icon-arrow {
    display: none;
}

.el-dropdown-menu__item--divided:before,
.el-menu,
.el-menu--horizontal>.el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal>.el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal>.el-submenu .el-submenu__title:hover {
    box-shadow: outset 0px 0px 20px #038d98;

}

.el-message__icon,
.el-message__content {
    display: inline-block;
}

.el-date-editor .el-range-input,
.el-date-editor .el-range-separator {
    height: auto;
    overflow: hidden;
}

.el-dialog__wrapper {
    z-index: 2048;
}

.el-scrollbar__wrap {
    overflow-x: hidden;
}



.el-main {
    padding: 0 !important;
}