.app-header{
	background-color: rgb(00,25,49);//
	color: white;
	height: 65px;
	font-family: 'Microsoft Yahei';
	border-bottom: 1px solid #668ac9;
	.logo{
		padding-left: 30px;	
		padding-bottom: 6px	;
		width: 150px;
	}
	.tab-time{
		color: #05d2e2;
		font-size:2rem;
		.time_data{
			position: relative;
			display: inline-block;
			font-size: 14px;
			.time_week{
				display: block;
				font-style: normal;
			}
			.time_year{
				display: block;
				font-style: normal;
			}
		}
	}
	.el-menu-demo{
		float: left;
		width: 33%;
		height: 100%;
	}
	.heading{
		font-size: 24px;
		float: left;
		width: 34%;
		height: 100%;
		align-items:center; //垂直居中
		justify-content:center;  //水平居中
		display: -webkit-flex;
		display: flex;
		
	}
	
	.bar{
		float:right;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		justify-content:flex-end;  //向尾部
		color: #d1d3d7;
		align-self: flex-start;
		width:33%;
		height: 100%;
		i{
			margin-right: 8px;
			img{
				vertical-align: text-top;
			}
			
		}
		em{
			color: #3974a8;
    		margin: 0 4px;
    		font-style: normal;
    		font-weight: bold;
		}
		.logout_btn{
			margin: 0 10px;
			padding: 0px 2px;
			height: 26px;
		    width: 80px;
			border: #194b78 solid 1px;
    		border-radius: 13px;
		    background-color: transparent;
		    
		}
		  
		
	}
	

}
.top-bar__item{
	cursor:pointer;
}