#space {
    width: 100%;
    overflow: hidden;//溢出隐藏 
    position: absolute;
    z-index: -1;
  }
  
  #warp {
    
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px auto;
    color: rgba(209, 255, 255, 1);
    border: 2px solid;
    padding: 1em;
    width: 10em;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    
    text-decoration: none;
    background: rgba(0, 0, 0, 0.8)
  }
  
  

  .drag_div {
    margin: auto;
    width: 1300px;
    height: 760px;
    z-index: 5;
      position: relative;
      -webkit-perspective: 10px;
              perspective: 10px;
      -webkit-transform: perspective(300px) rotateX(20deg);
              transform: perspective(300px) rotateX(20deg);
      will-change: perspective;
      -webkit-perspective-origin: center center;
              perspective-origin: center center;
      transition: all 1.3s ease-out;
  
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  
  .text_center{
      opacity: 0;
      bottom: 0;
      text-align: left;
      width: 200px;
      position: absolute;
      will-change: transform;
      color: #fff;
      text-shadow: 0 0 5px rgba(100, 100, 255, 0.6);
      transform: translateY(30px);
  
  }
  .drag_div>div.one {
    position: absolute;
    top: 300px;
    left: 27%;
    width: 200px;
      height: 150px;
      text-align:center;
      box-shadow: 0 0 20px 5px rgba(100, 100, 255, 0.4);
      border-radius: 10px;
      border: 1px solid #fff;
      background-color: #58d;
      opacity: 0; //隐藏
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
      background-image: url(../../static/img/broad.png);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      background-blend-mode: color-burn;
  
  }
  
  .drag_div>div.two {
    position: absolute;
    top: 300px;
    left: 42%;
    width: 200px;
      height: 150px;
      text-align:center;
      box-shadow: 0 0 20px 5px rgba(100, 100, 255, 0.4);
      border-radius: 10px;
      background-color: #58d;
      border: 1px solid #fff;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      
      background-image: url(../../static/img/village.png);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      background-blend-mode: color-burn;
  
  }
  
  .drag_div>div.three {
    position: absolute;
    top: 300px;
    left: 57%;
    width: 200px;
      height: 150px;
      text-align:center;
      box-shadow: 0 0 20px 5px rgba(100, 100, 255, 0.4);
      background-color: #58d;
      border-radius: 10px;
      border: 1px solid #fff;
      opacity: 0;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      transform: translateX(30px) translateZ(-25px) rotateY(5deg);
       background-image: url(../../static/img/iot.png);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      background-blend-mode: color-burn;
  
  }
  
  
    .welcome{
      font-weight: 300;
      font-size: 2rem;
      color: #fff;
      transition: all .6s ease;
      width: 100%;
      height: 100%;
      background-color: #303050;
      background-image: radial-gradient(circle at center top, #cce, #33a);
      border-radius: 10px;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
  
    .drag_div>div.one:hover, .drag_div>div.two:hover, .drag_div>div.three:hover , .drag_div>div.twodisplay {
      box-shadow: 0 0 30px 10px rgba(100, 100, 255, 0.6);
      background-color: #ccf;
    }
    .drag_div:hover {
      -webkit-perspective: 1000px;
              perspective: 1000px;
      transition: all 1.3s ease-in;
      -webkit-transform: perspective(10000px) rotateX(0deg);
              transform: perspective(10000px) rotateX(0deg);
    }
      .drag_div:hover .text_center {
          opacity: 1;//显示
      }
      .drag_div:hover .welcome {
          opacity: 0;//隐藏
      }
      .drag_div:hover >div {
          opacity: 1;
          transition-delay: 0s;
      }

  .drag_div>div.twodisplay{
    position: absolute;
    top: 300px;
    left: 42%;
    width: 200px;
      height: 150px;
      text-align:center;
      box-shadow: 0 0 20px 5px rgba(100, 100, 255, 0.4);
      border-radius: 10px;
      background-color: #58d;
      border: 1px solid #fff;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;

      
  }
  .welcomedisplay{
    font-weight: 300;
    font-size: 2rem;
    color: #fff;
    transition: all .6s ease;
    width: 100%;
    height: 100%;
    background-color: #303050;
    background-image: radial-gradient(circle at center top, #cce, #33a);
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }