.overview{
	//min-height: 824px;
	height: 100%;
	background-color: #242b42;
	
	.m_left1{
		position: relative;
		height:30vh;
		margin:4.5px 0;
		padding:5px 10px;	
		color:#fff;
		text-align:center;
		z-index:2;
		background: url(../static/img/bgbg1.png) no-repeat;
		background-size: 100% 100%;
		box-shadow: inset 0px 0px 20px #038d98;
		
	  }
	.m_center{
		position: absolute;
		left: 50%;
		margin-left: -200px;
		z-index:2;
		width:460px;
		height:50px;
		top:5px;
	}
	.m_right1{
		position: relative;
    	height:30vh;
		padding:5px 10px;
		text-align:center;
		z-index:2;
		background: url(../static/img/bgbg1.png) no-repeat;
		background-size: 100% 100%;
		box-shadow: inset 0px 0px 20px #038d98;
		
	  }
	  .m_right2{
		position: relative;
		margin:4.5px 0;
    	height:60vh;
		padding:5px 10px;
		
		z-index:2;
		background: url(../static/img/bgbg1.png) no-repeat;
		background-size: 100% 100%;
		box-shadow: inset 0px 0px 20px #038d98;
		
	  }
	.m_bottom1{
		position: relative;
    	height:29vh;
		padding:5px 10px;
		text-align:center;
		z-index:2;
		background: url(../static/img/bgbg1.png) no-repeat;
		background-size: 100% 100%;
		box-shadow: inset 0px 0px 20px #038d98;
	}
	.box_left_1{
		height: 25vh;
		
		.tablebox1{
			width: 100%;
    		height: 100%;
    		padding: 0;
			margin: 0;
			.box1-y{
				cursor: pointer;
    			position: relative;
    			display: inline-block;
				overflow: hidden;
				top:10px;
				width: 90%;
    			background: url(../static/img/bgbg1.png) 0 0 no-repeat;
   				background-size: 100% 100%;
    			padding: 1vh 0;
				font-size: 16px;
				span {
					margin: 1vh 0;
					display: inline-block;
					font-family: 'electronicFont';
					color: #96d668;
					font-size: 22px;
				}
			}
		}
	}
	.animation{
		position: absolute;
		left: 0;
		bottom: 2px;
		height: 3px;
		width: 130%;
		background: url(../static/img/bg04bigindex1.png) 0 0 repeat-x;
		animation: animate-cloud 20s linear infinite;
	}
	  
}
